In [85]:
import pandas as pd

In [86]:
# read_csv를 하면 자동으로 윗줄이 header로 들어감
iphone_df = pd.read_csv('data/iphone.csv')
iphone_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [87]:
# header가 없을 경우
iphone_none_header_df = pd.read_csv('data/iphone_none_header.csv', header = None)
iphone_none_header_df

               0           1    2    3         4    5
0       iPhone 7  2016-09-16  4.7  2GB  iOS 10.0   No
1  iPhone 7 Plus  2016-09-16  5.5  3GB  iOS 10.0   No
2       iPhone 8  2017-09-22  4.7  2GB  iOS 11.0   No
3  iPhone 8 Plus  2017-09-22  5.5  3GB  iOS 11.0   No
4       iPhone X  2017-11-03  5.8  3GB  iOS 11.1  Yes
5      iPhone XS  2018-09-21  5.8  4GB  iOS 12.0  Yes
6  iPhone XS Max  2018-09-21  6.5  4GB  iOS 12.0  Yes

In [88]:
# 제품명이 비었을 경우
iphone_df = pd.read_csv('data/iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [89]:
iphone_df.loc['iPhone 8','메모리'] = '2.5GB'
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [90]:
iphone_df.loc['iPhone 8'] = ['2016-09-22', 4.7, '2GB', 'iOS 11.0', 'No']
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2016-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [91]:
# lambda 함수를 사용하여 각 값에 "in(인치)"을 붙임 
# apply 함수는 시리즈의 각 요소에 함수를 적용
iphone_df['디스플레이'] = iphone_df['디스플레이'].apply(lambda x: f"{x} in")
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [92]:
# df 값 추가 
iphone_df.loc['iPhone XR'] = ['2018-10-26', 6.1, '4GB', 'iOS 12.0.1', 'yes']
iphone_df

                      출시일   디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB    iOS 10.0      No
iPhone 8       2016-09-22  4.7 in  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB    iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26     6.1  4GB  iOS 12.0.1     yes

In [93]:
# column 추가 
iphone_df['제조사'] = 'Apple'
iphone_df

                      출시일   디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16  4.7 in  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16  5.5 in  3GB    iOS 10.0      No  Apple
iPhone 8       2016-09-22  4.7 in  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22  5.5 in  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03  5.8 in  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21  5.8 in  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21  6.5 in  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26     6.1  4GB  iOS 12.0.1     yes  Apple

In [94]:
# df 값 삭제
# inplace = False : 기존의 df를 건드리지 않음 (iphone_df는 그대로 보존)
iphone_df.drop('iPhone XR', axis = 'index', inplace = False)

                      출시일   디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No  Apple
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes  Apple

In [95]:
# column 삭제
iphone_df.drop('제조사', axis='columns', inplace = True)
iphone_df

                      출시일   디스플레이  메모리       출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB    iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB    iOS 10.0      No
iPhone 8       2016-09-22  4.7 in  2GB    iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB    iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB    iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB    iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB    iOS 12.0     Yes
iPhone XR      2018-10-26     6.1  4GB  iOS 12.0.1     yes