In [2]:
import pandas as pd

In [27]:
liverpool_df = pd.read_csv('data/liverpool.csv', index_col=0)
liverpool_df

                position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [28]:
# 특정 컬럼명 첫 글자를 대문자로 변경
# inplace = True : 기존의 df를 바꿈
liverpool_df.rename(columns={'position':'Position'}, inplace=True)
liverpool_df

                Position  born  number nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [29]:
# 모든 컬럼명 첫 글자를 대문자로 변경
# x.capitalize(): x의 첫 글자를 대문자로 바꾸는 메서드
liverpool_df.rename(columns=lambda x: x.capitalize(), inplace=True)
liverpool_df

                Position  Born  Number Nationality
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [30]:
# 인덱스 이름 설정
liverpool_df.index.name = "Player Name"
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [31]:
# 인덱스 설정
# set_index() 메서드를 통해 기존 컬럼 중 하나의 컬럼을 인덱스로 만들 수 있습니다. 기존의 인덱스는 사라지게 됩니다.
liverpool_df.set_index('Number')

       Position  Born Nationality
Number
no. 9        FW  1991      Brazil
no. 10       FW  1992     Senegal
no. 11       FW  1992       Egypt
no. 12       DF  1997     England
no. 13       GK  1992      Brazil

In [32]:
# 인덱스 설정
# 기존의 인덱스가 사라지는것을 방지하기 위해 따로 추가
liverpool_df['player_name'] = liverpool_df.index
liverpool_df.set_index('Number', inplace = True)
liverpool_df

       Position  Born Nationality      player_name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker