## 1. 데이터 불러오기
- data 폴더 안에 있는 csv 파일을 DataFrame으로 불러옵시다.
- 읍면동별, 상세 업종별 카드 이용 데이터(2017년): jeju_card_region_2017.csv
- 읍면동별, 상세 업종별 카드 이용 데이터(2018년): jeju_card_region_2018.csv
- 읍면동 단위 내국인 유동인구 데이터: jeju_population.csv
## 2. 데이터 탐색 및 전처리
- 데이터 개수, 컬럼별 데이터 타입, 통계 정보, 결측값 존재 여부 등을 확인해 보세요.
- 각 컬럼이 어떤 값들로 이루어져 있는지 확인해 보세요.
- 2017년과 2018년 카드 데이터를 하나로 합쳐 주세요.
## 3. 데이터 분석
- 이용금액과 이용자수가 많은 업종과 지역 Top 10을 각각 뽑아 보세요.
- 인당 이용금액이 많은 지역 Top 10도 뽑아 봅시다.
- 각 지역에서 어떤 업종들이 활성화되어 있는지도 함께 확인해 보세요.
- 카드 매출액 데이터와 유동인구 데이터를 하나로 합쳐서 보면 되겠죠? 어떻게 데이터를 합치는 게 좋을지 한번 고민해 보세요.

In [231]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import platform
%matplotlib inline

In [232]:
# 사용자 운영체제 확인
platform.system()
# 운영체제별 한글 폰트 설정
if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')

In [233]:
# 데이터 불러오기
jeju_reg_17_df = pd.read_csv('data/jeju_card_region_2017.csv')
jeju_reg_18_df = pd.read_csv('data/jeju_card_region_2018.csv')
jeju_pop_df = pd.read_csv('data/jeju_population.csv')

In [234]:
# 데이터 개수 확인
print(jeju_reg_17_df.shape) 
print(jeju_reg_18_df.shape)
print(jeju_pop_df.shape)

(26968, 7)
(27183, 7)
(527026, 6)

In [235]:
# 17년도 통계정보 확인
jeju_reg_17_df.describe(include='all')

                연월   시군구명   읍면동명    업종명     성별      이용자수           이용금액
count        26968  26968  26968  26968  26968 26968.000      26968.000
unique          12      2     43     41      2       NaN            NaN
top     2017-11-01    제주시    노형동   슈퍼마켓     남성       NaN            NaN
freq          2265  16076    795   1032  13518       NaN            NaN
mean           NaN    NaN    NaN    NaN    NaN  1703.495   63231393.341
std            NaN    NaN    NaN    NaN    NaN  4313.161  198798394.063
min            NaN    NaN    NaN    NaN    NaN     1.000         10.000
25%            NaN    NaN    NaN    NaN    NaN    43.000    2635000.000
50%            NaN    NaN    NaN    NaN    NaN   281.000   12125170.000
75%            NaN    NaN    NaN    NaN    NaN  1333.250   49059281.000
max            NaN    NaN    NaN    NaN    NaN 62761.000 5092989749.000

In [236]:
# 고정 소수점 표기법으로 변경
pd.options.display.float_format = '{:.3f}'.format

In [237]:
# 2017년과 2018년 데이터 비교 및 전처리
def print_unique_values(df):
    object_columns = df.columns[df.dtypes == 'object']
    for col in object_columns:
        print(f'{col} 컬럼의 unique 값 개수: {df[col].nunique()}')
        print(sorted(df[col].unique()), '\n')

In [238]:
print_unique_values(jeju_reg_17_df)

연월 컬럼의 unique 값 개수: 12
['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01', '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01']

시군구명 컬럼의 unique 값 개수: 2
['서귀포시', '제주시']

읍면동명 컬럼의 unique 값 개수: 43
['건입동', '구좌읍', '남원읍', '노형동', '대륜동', '대정읍', '대천동', '도두동', '동홍동', '봉개동', '삼도1동', '삼도2동', '삼양동', '서홍동', '성산읍', '송산동', '아라동', '안덕면', '애월읍', '연동', '영천동', '예래동', '오라동', '외도동', '용담1동', '용담2동', '우도면', '이도1동', '이도2동', '이호동', '일도1동', '일도2동', '정방동', '조천읍', '중문동', '중앙동', '천지동', '추자면', '표선면', '한경면', '한림읍', '화북동', '효돈동']

업종명 컬럼의 unique 값 개수: 41
['건강보조식품 소매업', '골프장 운영업', '과실 및 채소 소매업', '관광 민예품 및 선물용품 소매업', '그외 기타 분류안된 오락관련 서비스업', '그외 기타 스포츠시설 운영업', '그외 기타 종합 소매업', '기타 갬블링 및 베팅업', '기타 대형 종합 소매업', '기타 수상오락 서비스업', '기타 외국식 음식점업', '기타 주점업', '기타음식료품위주종합소매업', '내항 여객 운송업', '마사지업', '면세점', '버스 운송업', '비알콜 음료점업', '빵 및 과자류 소매업', '서양식 음식점업', '수산물 소매업', '슈퍼마켓', '스포츠 및 레크레이션 용품 임대업', '여관업', '여행사업', '욕탕업', '육류 소매업', '일반유흥 주점업', '일식 음식점업', '자동차 임대업', '전시 및 행사 대행업', '정기 항공 운송업', '중식 음식점업', '차량용 가스 충전업', '차량용 주유소 운영업', '체인화 편의점', '피자, 햄버거, 샌드위치 및 유사 음식점업', '한식 음식점업', '호텔업', '화장품 및 방향제 소매업', '휴양콘도 운영업']

성별 컬럼의 unique 값 개수: 2
['남성', '여성']

In [239]:
print_unique_values(jeju_reg_18_df)

연월 컬럼의 unique 값 개수: 12
['2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01', '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01']

시군구명 컬럼의 unique 값 개수: 2
['서귀포시', '제주시']

읍면동명 컬럼의 unique 값 개수: 43
['건입동', '구좌읍', '남원읍', '노형동', '대륜동', '대정읍', '대천동', '도두동', '동홍동', '봉개동', '삼도1동', '삼도2동', '삼양동', '서홍동', '성산읍', '송산동', '아라동', '안덕면', '애월읍', '연동', '영천동', '예래동', '오라동', '외도동', '용담1동', '용담2동', '우도면', '이도1동', '이도2동', '이호동', '일도1동', '일도2동', '정방동', '조천읍', '중문동', '중앙동', '천지동', '추자면', '표선면', '한경면', '한림읍', '화북동', '효돈동']

업종명 컬럼의 unique 값 개수: 41
['건강보조식품 소매업', '골프장 운영업', '과실 및 채소 소매업', '관광 민예품 및 선물용품 소매업', '그외 기타 분류안된 오락관련 서비스업', '그외 기타 스포츠시설 운영업', '그외 기타 종합 소매업', '기타 대형 종합 소매업', '기타 수상오락 서비스업', '기타 외국식 음식점업', '기타 주점업', '기타음식료품위주종합소매업', '내항 여객 운송업', '마사지업', '면세점', '버스 운송업', '비알콜 음료점업', '빵 및 과자류 소매업', '서양식 음식점업', '수산물 소매업', '슈퍼마켓', '스포츠 및 레크레이션 용품 임대업', '여관업', '여행사업', '욕탕업', '육류 소매업', '일반유흥 주점업', '일식 음식점업', '자동차 임대업', '전시 및 행사 대행업', '정기 항공 운송업', '중식 음식점업', '차량용 가스 충전업', '차량용 주유소 운영업', '체인화 편의점', '택시 운송업', '피자, 햄버거, 샌드위치 및 유사 음식점업', '한식 음식점업', '호텔업', '화장품 및 방향제 소매업', '휴양콘도 운영업']

성별 컬럼의 unique 값 개수: 2
['남성', '여성']

In [240]:
# 공통되지 않은 업종 찾기 
for item in jeju_reg_17_df['업종명'].unique():
    if item not in jeju_reg_18_df['업종명'].unique():
        print(f'2017년에만 있는 값: {item}')
        
for item in jeju_reg_18_df['업종명'].unique():
    if item not in jeju_reg_17_df['업종명'].unique():
        print(f'2018년에만 있는 값: {item}')

2017년에만 있는 값: 기타 갬블링 및 베팅업
2018년에만 있는 값: 택시 운송업

In [241]:
# 공통되지 않은 업종 제거
jeju_reg_17_df = jeju_reg_17_df[jeju_reg_17_df['업종명'] != '기타 갬블링 및 베팅업']
jeju_reg_18_df = jeju_reg_18_df[jeju_reg_18_df['업종명'] != '택시 운송업']

In [242]:
# 데이터 합치기
jeju_reg_df = pd.concat([jeju_reg_17_df, jeju_reg_18_df])

In [243]:
# 연월 컬럼 확인
jeju_reg_df['연월'].unique()

array(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
       '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
       '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
       '2018-01-01', '2018-02-01', '2018-03-01', '2018-04-01',
       '2018-05-01', '2018-06-01', '2018-07-01', '2018-08-01',
       '2018-09-01', '2018-10-01', '2018-11-01', '2018-12-01'],
      dtype=object)

In [244]:
# 연월 컬럼 전처리
jeju_reg_df['연월'] = jeju_reg_df['연월'].str[:7]
jeju_reg_df

            연월  시군구명 읍면동명                 업종명  성별  이용자수       이용금액
0      2017-01  서귀포시  남원읍          건강보조식품 소매업  남성    11     137500
1      2017-01  서귀포시  천지동          건강보조식품 소매업  여성    61   12334400
2      2017-01  서귀포시  대정읍       기타음식료품위주종합소매업  남성   555   17301300
3      2017-01  서귀포시  대정읍              기타 주점업  남성   324   71843080
4      2017-01  서귀포시  대정읍         기타 외국식 음식점업  남성    40     971000
...        ...   ...  ...                 ...  ..   ...        ...
27178  2018-12   제주시  오라동             중식 음식점업  여성   110    3043250
27179  2018-12   제주시   연동  스포츠 및 레크레이션 용품 임대업  여성  2317  365724920
27180  2018-12   제주시   연동                 호텔업  여성   810  232661992
27181  2018-12   제주시  오라동       기타음식료품위주종합소매업  남성    25    1225510
27182  2018-12   제주시   연동       화장품 및 방향제 소매업  여성  2351   84518980

[54146 rows x 7 columns]

In [245]:
# groupby로 업종명으로 합치기
groupby_sector = jeju_reg_df.groupby('업종명').sum(numeric_only=True)
groupby_sector

                             이용자수          이용금액
업종명
건강보조식품 소매업                  43738    7042351269
골프장 운영업                    454602   63978385373
과실 및 채소 소매업               1088336   70647018956
관광 민예품 및 선물용품 소매업          611692   20571366644
그외 기타 분류안된 오락관련 서비스업         2361     116100063
그외 기타 스포츠시설 운영업             18761    1191623694
그외 기타 종합 소매업               920327   61397685585
기타 대형 종합 소매업              3026355  176181070237
기타 수상오락 서비스업                 1188     214491300
기타 외국식 음식점업                515110   18630892911
기타 주점업                     262989   51724117734
기타음식료품위주종합소매업             2238649   94161392029
내항 여객 운송업                  239458    7749726604
마사지업                         3621     441834050
면세점                       2122760  216084015155
버스 운송업                          5       6564000
비알콜 음료점업                  2990107   32196462878
빵 및 과자류 소매업               3295046   45801876571
서양식 음식점업                  3483836   82613944504
수산물 소매업                    804683   56999528206
슈퍼마켓                     11427536  303567124207
스포츠 및 레크레이션 용품 임대업         991236  112011498985
여관업                        953862   72403114967
여행사업                        63548    5790670098
욕탕업                        268457    5920642458
육류 소매업                     695049   40759962062
일반유흥 주점업                   541603  116184655729
일식 음식점업                   1294471   92915797327
자동차 임대업                    375290   29386903192
전시 및 행사 대행업                868990   26877644577
정기 항공 운송업                  640930  102803758104
중식 음식점업                   1017353   28747667386
차량용 가스 충전업                 318051   15997899960
차량용 주유소 운영업               5683264  302282701948
체인화 편의점                  22577070  208385597308
피자, 햄버거, 샌드위치 및 유사 음식점업   2963257   38337318851
한식 음식점업                  18828766  764903591034
호텔업                        261891   55612663219
화장품 및 방향제 소매업              662329   31541757654
휴양콘도 운영업                   317552   29585862101

In [246]:
# 이용금액이 많은 업종 Top 10
groupby_sector.sort_values(by='이용금액', ascending=False).head(10)

                        이용자수          이용금액
업종명
한식 음식점업             18828766  764903591034
슈퍼마켓                11427536  303567124207
차량용 주유소 운영업          5683264  302282701948
면세점                  2122760  216084015155
체인화 편의점             22577070  208385597308
기타 대형 종합 소매업         3026355  176181070237
일반유흥 주점업              541603  116184655729
스포츠 및 레크레이션 용품 임대업    991236  112011498985
정기 항공 운송업             640930  102803758104
기타음식료품위주종합소매업        2238649   94161392029

In [247]:
# 이용자수가 많은 업종 Top 10
groupby_sector.sort_values(by='이용자수', ascending=False).head(10)

                             이용자수          이용금액
업종명
체인화 편의점                  22577070  208385597308
한식 음식점업                  18828766  764903591034
슈퍼마켓                     11427536  303567124207
차량용 주유소 운영업               5683264  302282701948
서양식 음식점업                  3483836   82613944504
빵 및 과자류 소매업               3295046   45801876571
기타 대형 종합 소매업              3026355  176181070237
비알콜 음료점업                  2990107   32196462878
피자, 햄버거, 샌드위치 및 유사 음식점업   2963257   38337318851
기타음식료품위주종합소매업             2238649   94161392029

In [248]:
# groupby로 지역명으로 합치기
groupby_region = jeju_reg_df.groupby('읍면동명').sum(numeric_only=True)
groupby_region

         이용자수          이용금액
읍면동명
건입동   1247860   46077137130
구좌읍   1593134   48035516926
남원읍   1209827   52349473146
노형동   7642921  245644045189
대륜동   1735095   67069487603
대정읍   1715861   56164010423
대천동   1221892   33847001011
도두동    741136   29033944428
동홍동   1959703   65748200288
봉개동    631429   24768113201
삼도1동  1094904   34275405385
삼도2동  1436282   63122056691
삼양동   1571391   40040100193
서홍동    630414   14340555341
성산읍   2361002   79796700869
송산동   5468346  205357714141
아라동   3653006   80280971143
안덕면   2057774   69668716092
애월읍   3397281  120988320522
연동    7100596  340461915654
영천동    652686   35970307258
예래동   1259725   72430813294
오라동   1339046   46704908156
외도동   1574154   42808089522
용담1동   482876   19326144801
용담2동  5820083  289912196043
우도면    600163   14336890907
이도1동  1082146   45553719645
이도2동  6742075  201304448132
이호동    423538   12463690048
일도1동  1161659   55313193619
일도2동  3145294  106631315225
정방동   3053162  118137020208
조천읍   2475686   81088543827
중문동   1599439   66174146830
중앙동   3053162  118137020208
천지동   3683576  132477575549
추자면     63461    2495633607
표선면   1278988   50551227038
한경면    572525   22391791132
한림읍   2195237   80368290420
화북동   1723143   48701154512
효돈동    422451   11419773573

In [249]:
# 이용금액이 많은 지역 Top 10
groupby_region.sort_values(by='이용금액', ascending=False).head(10)

         이용자수          이용금액
읍면동명
연동    7100596  340461915654
용담2동  5820083  289912196043
노형동   7642921  245644045189
송산동   5468346  205357714141
이도2동  6742075  201304448132
천지동   3683576  132477575549
애월읍   3397281  120988320522
중앙동   3053162  118137020208
정방동   3053162  118137020208
일도2동  3145294  106631315225

In [250]:
# 이용자수가 많은 지역 Top 10
groupby_region.sort_values(by='이용자수', ascending=False).head(10)

         이용자수          이용금액
읍면동명
노형동   7642921  245644045189
연동    7100596  340461915654
이도2동  6742075  201304448132
용담2동  5820083  289912196043
송산동   5468346  205357714141
천지동   3683576  132477575549
아라동   3653006   80280971143
애월읍   3397281  120988320522
일도2동  3145294  106631315225
중앙동   3053162  118137020208

In [251]:
# 인당 이용금액 컬럼 생성
groupby_region['인당이용금액'] = groupby_region['이용금액']/groupby_region['이용자수']
groupby_region

         이용자수          이용금액    인당이용금액
읍면동명
건입동   1247860   46077137130 36924.925
구좌읍   1593134   48035516926 30151.586
남원읍   1209827   52349473146 43270.214
노형동   7642921  245644045189 32140.074
대륜동   1735095   67069487603 38654.649
대정읍   1715861   56164010423 32732.261
대천동   1221892   33847001011 27700.485
도두동    741136   29033944428 39174.921
동홍동   1959703   65748200288 33550.084
봉개동    631429   24768113201 39225.492
삼도1동  1094904   34275405385 31304.485
삼도2동  1436282   63122056691 43948.233
삼양동   1571391   40040100193 25480.673
서홍동    630414   14340555341 22747.838
성산읍   2361002   79796700869 33797.812
송산동   5468346  205357714141 37553.899
아라동   3653006   80280971143 21976.687
안덕면   2057774   69668716092 33856.350
애월읍   3397281  120988320522 35613.280
연동    7100596  340461915654 47948.358
영천동    652686   35970307258 55111.198
예래동   1259725   72430813294 57497.321
오라동   1339046   46704908156 34879.241
외도동   1574154   42808089522 27194.347
용담1동   482876   19326144801 40022.997
용담2동  5820083  289912196043 49812.382
우도면    600163   14336890907 23888.329
이도1동  1082146   45553719645 42095.724
이도2동  6742075  201304448132 29857.937
이호동    423538   12463690048 29427.560
일도1동  1161659   55313193619 47615.689
일도2동  3145294  106631315225 33901.859
정방동   3053162  118137020208 38693.335
조천읍   2475686   81088543827 32753.970
중문동   1599439   66174146830 41373.348
중앙동   3053162  118137020208 38693.335
천지동   3683576  132477575549 35964.393
추자면     63461    2495633607 39325.469
표선면   1278988   50551227038 39524.395
한경면    572525   22391791132 39110.591
한림읍   2195237   80368290420 36610.302
화북동   1723143   48701154512 28262.979
효돈동    422451   11419773573 27032.185

In [252]:
# 인당 이용금액이 많은 지역 Top 10
groupby_region.sort_values(by='인당이용금액', ascending=False).head(10)

         이용자수          이용금액    인당이용금액
읍면동명
예래동   1259725   72430813294 57497.321
영천동    652686   35970307258 55111.198
용담2동  5820083  289912196043 49812.382
연동    7100596  340461915654 47948.358
일도1동  1161659   55313193619 47615.689
삼도2동  1436282   63122056691 43948.233
남원읍   1209827   52349473146 43270.214
이도1동  1082146   45553719645 42095.724
중문동   1599439   66174146830 41373.348
용담1동   482876   19326144801 40022.997

In [253]:
# 지역명과 업종명 groupby
groupby_region_sector = jeju_reg_df.groupby(['읍면동명', '업종명']).sum(numeric_only=True).reset_index()
groupby_region_sector

     읍면동명                      업종명    이용자수        이용금액
0     건입동               건강보조식품 소매업      49     4587000
1     건입동              과실 및 채소 소매업    2501   391500342
2     건입동        관광 민예품 및 선물용품 소매업    3502    75545640
3     건입동             그외 기타 종합 소매업       3      275000
4     건입동              기타 외국식 음식점업    5293   181635728
...   ...                      ...     ...         ...
1227  효돈동              차량용 주유소 운영업   80406  3618787777
1228  효돈동                  체인화 편의점  110730  1044920210
1229  효돈동  피자, 햄버거, 샌드위치 및 유사 음식점업   14501   122548910
1230  효돈동                  한식 음식점업   50203  2056391378
1231  효돈동            화장품 및 방향제 소매업       2      600000

[1232 rows x 4 columns]

In [254]:
# 각 지역에서 어떤 업종들이 활성화되어 있는지 확인
for region in groupby_region_sector['읍면동명'].unique():
    region_data = groupby_region_sector[groupby_region_sector['읍면동명'] == region]
    region_data = region_data.sort_values(by='이용자수', ascending=False).head(10)
    print(region_data)

   읍면동명                      업종명    이용자수         이용금액
24  건입동                  체인화 편의점  289677   2507213130
26  건입동                  한식 음식점업  234816  10667669485
12  건입동                     슈퍼마켓  204619   8937264501
23  건입동              차량용 주유소 운영업  120684   5936930821
10  건입동                 서양식 음식점업   94057   1535173042
7   건입동                      면세점   49248   3215267313
22  건입동               차량용 가스 충전업   42591   1439888624
9   건입동              빵 및 과자류 소매업   35243    715096540
25  건입동  피자, 햄버거, 샌드위치 및 유사 음식점업   29603    404126400
8   건입동                 비알콜 음료점업   27725    275428460
   읍면동명            업종명    이용자수         이용금액
57  구좌읍        한식 음식점업  473270  16214770362
55  구좌읍        체인화 편의점  308625   2922152476
41  구좌읍       서양식 음식점업  190175   3653335110
54  구좌읍    차량용 주유소 운영업  159671   8784917013
38  구좌읍  기타음식료품위주종합소매업  133252   4408931727
43  구좌읍           슈퍼마켓   83612   1810691155
51  구좌읍    전시 및 행사 대행업   58423   1299330400
39  구좌읍       비알콜 음료점업   53047    922838700
50  구좌읍        일식 음식점업   21558    906438174
30  구좌읍        골프장 운영업   19530   2917559040
   읍면동명            업종명    이용자수         이용금액
84  남원읍        체인화 편의점  212480   2270709215
86  남원읍        한식 음식점업  186705   8303526080
68  남원읍  기타음식료품위주종합소매업  183314   6963444380
83  남원읍    차량용 주유소 운영업  153175   7460155749
61  남원읍        골프장 운영업   98190  12671248122
73  남원읍           슈퍼마켓   75266   1881933370
88  남원읍       휴양콘도 운영업   73810   3845759686
71  남원읍       서양식 음식점업   52690   1074129600
80  남원읍    전시 및 행사 대행업   46745   1288172100
62  남원읍    과실 및 채소 소매업   20181   1350868598
    읍면동명                      업종명     이용자수         이용금액
117  노형동                  체인화 편의점  1663053  14196847745
119  노형동                  한식 음식점업  1526139  63161096579
104  노형동                     슈퍼마켓  1080265  24671714099
95   노형동             기타 대형 종합 소매업  1073067  66090723808
116  노형동              차량용 주유소 운영업   396986  20333003073
118  노형동  피자, 햄버거, 샌드위치 및 유사 음식점업   367362   4684824418
101  노형동              빵 및 과자류 소매업   302806   4095467385
100  노형동                 비알콜 음료점업   300088   2738692471
102  노형동                 서양식 음식점업   266254   6545040225
98   노형동            기타음식료품위주종합소매업   145358   6130829000
    읍면동명            업종명    이용자수         이용금액
128  대륜동   기타 대형 종합 소매업  512848  30909968170
150  대륜동        체인화 편의점  423024   3801862441
152  대륜동        한식 음식점업  271118  10507150923
149  대륜동    차량용 주유소 운영업  117428   5615942593
136  대륜동       서양식 음식점업   64878   1518999034
138  대륜동           슈퍼마켓   63460   1300287759
135  대륜동    빵 및 과자류 소매업   47331    649365758
134  대륜동       비알콜 음료점업   45288    361067028
132  대륜동  기타음식료품위주종합소매업   45056   1104060500
140  대륜동            여관업   25606   2601210196
    읍면동명                      업종명    이용자수         이용금액
181  대정읍                  체인화 편의점  439769   4347143856
183  대정읍                  한식 음식점업  373078  16635695840
169  대정읍                     슈퍼마켓  324037  10513923561
180  대정읍              차량용 주유소 운영업  168917   9559795265
166  대정읍              빵 및 과자류 소매업   97729   1154920725
167  대정읍                 서양식 음식점업   57328   1298145800
182  대정읍  피자, 햄버거, 샌드위치 및 유사 음식점업   48317    742803050
178  대정읍                  중식 음식점업   38390   1119314219
165  대정읍                 비알콜 음료점업   34976    553538820
164  대정읍            기타음식료품위주종합소매업   25195    755081820
    읍면동명                      업종명    이용자수        이용금액
207  대천동                  체인화 편의점  379979  3892719216
209  대천동                  한식 음식점업  215012  7815285053
206  대천동              차량용 주유소 운영업  165227  8171642676
208  대천동  피자, 햄버거, 샌드위치 및 유사 음식점업  110805  1278721390
196  대천동                     슈퍼마켓  106728  2365297378
193  대천동              빵 및 과자류 소매업   69411   974329280
194  대천동                 서양식 음식점업   42313  1086017540
187  대천동              과실 및 채소 소매업   23982  2699857575
192  대천동                 비알콜 음료점업   22487   161117580
212  대천동                 휴양콘도 운영업   19794  1658476739
    읍면동명          업종명    이용자수        이용금액
235  도두동      체인화 편의점  172321  1677487278
236  도두동      한식 음식점업  141130  7278513648
230  도두동      자동차 임대업   99482  6530984090
223  도두동         슈퍼마켓   79478  1889417072
234  도두동  차량용 주유소 운영업   52705  2420101423
233  도두동   차량용 가스 충전업   37921  1159748172
229  도두동      일식 음식점업   32926  2999871661
227  도두동          욕탕업   31396   499570000
219  도두동     비알콜 음료점업   24207   301937290
221  도두동     서양식 음식점업   17944   420142680
    읍면동명                      업종명    이용자수         이용금액
250  동홍동                     슈퍼마켓  569488  16830884971
261  동홍동                  체인화 편의점  399584   3732538954
263  동홍동                  한식 음식점업  303922  14375330223
241  동홍동             기타 대형 종합 소매업  265259  15788282580
260  동홍동              차량용 주유소 운영업   78098   3893952406
247  동홍동              빵 및 과자류 소매업   59742    730412466
262  동홍동  피자, 햄버거, 샌드위치 및 유사 음식점업   45524    862988899
246  동홍동                 비알콜 음료점업   42585    431958360
248  동홍동                 서양식 음식점업   34940    710231117
256  동홍동                  일식 음식점업   27106   1922906812
    읍면동명           업종명    이용자수        이용금액
284  봉개동       체인화 편의점  172203  1842181360
283  봉개동   차량용 주유소 운영업  135223  7454511998
276  봉개동          슈퍼마켓  126178  2580662951
286  봉개동       한식 음식점업   61935  2024815651
287  봉개동      휴양콘도 운영업   43472  5144869175
266  봉개동       골프장 운영업   30490  3514647472
272  봉개동      비알콜 음료점업   10923    93825600
269  봉개동  그외 기타 종합 소매업   10510   812288800
270  봉개동   기타 외국식 음식점업    8448   230608848
267  봉개동   과실 및 채소 소매업    8256   313545208
     읍면동명          업종명    이용자수         이용금액
301  삼도1동         슈퍼마켓  446759  11453469963
313  삼도1동      체인화 편의점  264428   2268658040
315  삼도1동      한식 음식점업  185495   6106274840
298  삼도1동  빵 및 과자류 소매업   39768    572113192
299  삼도1동     서양식 음식점업   18808    255639354
311  삼도1동      중식 음식점업   16775    396184500
312  삼도1동  차량용 주유소 운영업   16625    877983017
294  삼도1동       기타 주점업   14988   2826907569
303  삼도1동          여관업   14147    732270950
308  삼도1동      일식 음식점업   11652    781910314
     읍면동명                      업종명    이용자수         이용금액
323  삼도2동             기타 대형 종합 소매업  470105  33001224330
341  삼도2동                  체인화 편의점  406699   3764912259
343  삼도2동                  한식 음식점업  314012  11669450868
331  삼도2동                     슈퍼마켓   53612    854386802
344  삼도2동                      호텔업   33419   7259621046
328  삼도2동              빵 및 과자류 소매업   33214    375839173
329  삼도2동                 서양식 음식점업   24780    486894986
333  삼도2동                      여관업   21369    535154626
340  삼도2동                  중식 음식점업   16945    419003400
342  삼도2동  피자, 햄버거, 샌드위치 및 유사 음식점업   15454    167738430
    읍면동명                      업종명    이용자수        이용금액
357  삼양동                     슈퍼마켓  422157  9776221262
369  삼양동                  체인화 편의점  395824  3664200676
371  삼양동                  한식 음식점업  240139  9598265702
368  삼양동              차량용 주유소 운영업   96039  6001207679
354  삼양동              빵 및 과자류 소매업   81129   974015778
353  삼양동                 비알콜 음료점업   73395   632627940
370  삼양동  피자, 햄버거, 샌드위치 및 유사 음식점업   57885   906346877
352  삼양동            기타음식료품위주종합소매업   53386  1171846440
366  삼양동                  중식 음식점업   31717   871359313
355  삼양동                 서양식 음식점업   30654   705940715
    읍면동명                      업종명    이용자수        이용금액
395  서홍동                  체인화 편의점  267918  2326402664
397  서홍동                  한식 음식점업  129091  4531094701
394  서홍동              차량용 주유소 운영업   57390  3006793391
381  서홍동                 비알콜 음료점업   36414   323117400
383  서홍동                 서양식 음식점업   29745   480879751
385  서홍동                     슈퍼마켓   14693   347739375
382  서홍동              빵 및 과자류 소매업   14562   169029882
378  서홍동              기타 외국식 음식점업   13639   267692065
380  서홍동                내항 여객 운송업   13288  1166934200
396  서홍동  피자, 햄버거, 샌드위치 및 유사 음식점업   12541   162632093
    읍면동명                      업종명    이용자수         이용금액
426  성산읍                  체인화 편의점  599939   5804787833
428  성산읍                  한식 음식점업  576987  25869141844
414  성산읍                     슈퍼마켓  227398   5741454226
425  성산읍              차량용 주유소 운영업  163377   8704285422
409  성산읍            기타음식료품위주종합소매업  130080   6395840057
411  성산읍              빵 및 과자류 소매업   95740   1084079663
410  성산읍                 비알콜 음료점업   83676   1071222537
412  성산읍                 서양식 음식점업   75432   1609505860
422  성산읍              전시 및 행사 대행업   65061   4153045470
427  성산읍  피자, 햄버거, 샌드위치 및 유사 음식점업   52602    744615060
    읍면동명                      업종명     이용자수         이용금액
459  송산동                  체인화 편의점  1300990  12755621032
461  송산동                  한식 음식점업  1073239  48882701780
447  송산동                     슈퍼마켓   847420  22681646374
458  송산동              차량용 주유소 운영업   307650  16973750265
437  송산동             기타 대형 종합 소매업   265259  15788282580
460  송산동  피자, 햄버거, 샌드위치 및 유사 음식점업   214767   2879703993
444  송산동              빵 및 과자류 소매업   210996   3034051817
445  송산동                 서양식 음식점업   144849   3508878014
454  송산동                  일식 음식점업   140209  11283422084
443  송산동                 비알콜 음료점업   138608   1536821323
    읍면동명                      업종명     이용자수         이용금액
489  아라동                  체인화 편의점  1167124  10340914943
491  아라동                  한식 음식점업   712061  24525803070
478  아라동                     슈퍼마켓   627062  12178827995
476  아라동                 서양식 음식점업   212138   4538105812
475  아라동              빵 및 과자류 소매업   173072   2259964974
488  아라동              차량용 주유소 운영업   171971   8290332816
474  아라동                 비알콜 음료점업   134662   1322616147
490  아라동  피자, 햄버거, 샌드위치 및 유사 음식점업   131408   1715397469
472  아라동            기타음식료품위주종합소매업    90813   3395743090
484  아라동                  일식 음식점업    54270   2424989750
    읍면동명            업종명    이용자수         이용금액
519  안덕면        체인화 편의점  505432   4866433400
521  안덕면        한식 음식점업  326927  17178483115
506  안덕면       서양식 음식점업  289706   7623665332
515  안덕면    전시 및 행사 대행업  182616   5000669334
518  안덕면    차량용 주유소 운영업  172808  10213349238
503  안덕면  기타음식료품위주종합소매업   90799   3368185730
510  안덕면            여관업   86968   1994178934
494  안덕면        골프장 운영업   63079   7581730774
508  안덕면           슈퍼마켓   55468    932807607
522  안덕면  화장품 및 방향제 소매업   51672   1172594860
    읍면동명            업종명    이용자수         이용금액
550  애월읍        체인화 편의점  914611   8913096112
552  애월읍        한식 음식점업  643771  24081108467
533  애월읍  기타음식료품위주종합소매업  474618  23974897916
549  애월읍    차량용 주유소 운영업  458895  29429470650
536  애월읍       서양식 음식점업  257820   6070255183
538  애월읍           슈퍼마켓  201034   4363816379
534  애월읍       비알콜 음료점업  118980   1593771610
540  애월읍            여관업   67449   5445984119
525  애월읍        골프장 운영업   52810   8942081182
535  애월읍    빵 및 과자류 소매업   42363    643990818
    읍면동명                 업종명     이용자수          이용금액
585   연동             체인화 편의점  1986028   17690147519
587   연동             한식 음식점업  1552295   67558620226
571   연동                슈퍼마켓   841876   21017172098
581   연동           정기 항공 운송업   640930  102803758104
568   연동         빵 및 과자류 소매업   263631    4163599587
567   연동            비알콜 음료점업   216716    2387394344
584   연동         차량용 주유소 운영업   212387   10400246632
569   연동            서양식 음식점업   193392    7820170117
561   연동        기타 대형 종합 소매업   177560    4992293288
572   연동  스포츠 및 레크레이션 용품 임대업   121373   16259086821
    읍면동명            업종명    이용자수         이용금액
606  영천동    차량용 주유소 운영업  207445  11955213880
599  영천동           슈퍼마켓  169027  11465673271
607  영천동        체인화 편의점   96469    931546080
608  영천동        한식 음식점업   86636   4718292848
595  영천동  기타음식료품위주종합소매업   19954    959308925
602  영천동         육류 소매업   15941   1011787803
591  영천동        골프장 운영업   12888   2017931318
604  영천동        중식 음식점업   11179    340372975
609  영천동            호텔업   10337   1337049208
603  영천동    전시 및 행사 대행업    7926    173983390
    읍면동명                      업종명    이용자수         이용금액
639  예래동                  체인화 편의점  382363   4210831388
641  예래동                  한식 음식점업  257037  17065832905
638  예래동              차량용 주유소 운영업  119469   5716195298
642  예래동                      호텔업  101252  25675282041
625  예래동                 서양식 음식점업   88775   2595324088
635  예래동              전시 및 행사 대행업   70070   2397491590
640  예래동  피자, 햄버거, 샌드위치 및 유사 음식점업   46272    575843950
623  예래동                 비알콜 음료점업   42238    515074980
612  예래동                  골프장 운영업   33904   4639276847
629  예래동                      여관업   28637   3842573687
    읍면동명           업종명    이용자수         이용금액
672  오라동       한식 음식점업  399680  12600363654
670  오라동       체인화 편의점  235404   1994267550
669  오라동   차량용 주유소 운영업  227106  10805283562
658  오라동          슈퍼마켓  158182   3736976695
654  오라동      비알콜 음료점업   75154    896851980
649  오라동  그외 기타 종합 소매업   67857   2758083720
645  오라동       골프장 운영업   29985   5011896649
655  오라동   빵 및 과자류 소매업   28742    419769775
656  오라동      서양식 음식점업   21296    389361810
663  오라동        육류 소매업   21091   1180172571
    읍면동명                      업종명    이용자수         이용금액
685  외도동                     슈퍼마켓  398819   9571453290
698  외도동                  체인화 편의점  369937   3703625235
700  외도동                  한식 음식점업  307370  11147138510
697  외도동              차량용 주유소 운영업   93786   5160575251
682  외도동              빵 및 과자류 소매업   90052   1158661787
699  외도동  피자, 햄버거, 샌드위치 및 유사 음식점업   75931   1049835337
683  외도동                 서양식 음식점업   55802   1378271948
696  외도동               차량용 가스 충전업   25326   1091044683
695  외도동                  중식 음식점업   23928    613373200
687  외도동                      여관업   20785    787083617
     읍면동명          업종명    이용자수        이용금액
729  용담1동      체인화 편의점  132634  1132427680
731  용담1동      한식 음식점업  114277  5675879781
728  용담1동  차량용 주유소 운영업   57170  2620426264
716  용담1동         슈퍼마켓   49683   626410085
721  용담1동       육류 소매업   32577  2535159928
727  용담1동   차량용 가스 충전업   23579   729226686
704  용담1동  과실 및 채소 소매업   11748   813022006
713  용담1동  빵 및 과자류 소매업   10409   238664933
724  용담1동      자동차 임대업    8686   361276952
726  용담1동      중식 음식점업    7945   191471185
     읍면동명                      업종명     이용자수          이용금액
739  용담2동                      면세점  1971053  197349101246
754  용담2동                  체인화 편의점   997158    6454865100
756  용담2동                  한식 음식점업   705124   23056799984
740  용담2동                 비알콜 음료점업   447461    4056159850
744  용담2동                     슈퍼마켓   315063    6073529173
755  용담2동  피자, 햄버거, 샌드위치 및 유사 음식점업   298842    2856689381
736  용담2동        관광 민예품 및 선물용품 소매업   258312    8427903666
753  용담2동              차량용 주유소 운영업   249376   11922755361
751  용담2동                  자동차 임대업   169408   15384905067
741  용담2동              빵 및 과자류 소매업   130929    1352424335
    읍면동명                      업종명    이용자수        이용금액
762  우도면                내항 여객 운송업  205542  5145571904
779  우도면                  한식 음식점업  142849  4396486560
777  우도면                  체인화 편의점   45297   344257360
765  우도면                 서양식 음식점업   39065   617741080
763  우도면                 비알콜 음료점업   34763   620132080
767  우도면                     슈퍼마켓   22242   436848054
764  우도면              빵 및 과자류 소매업   20201   282904424
778  우도면  피자, 햄버거, 샌드위치 및 유사 음식점업   15431   161994900
761  우도면            기타음식료품위주종합소매업   15382   328094100
770  우도면                     여행사업   15237   311520800
     읍면동명           업종명    이용자수        이용금액
805  이도1동       체인화 편의점  264901  2087533244
807  이도1동       한식 음식점업  208154  7250478633
794  이도1동          슈퍼마켓  171809  3451318206
793  이도1동       수산물 소매업   87255  5436536941
782  이도1동   과실 및 채소 소매업   59842  4021536044
791  이도1동   빵 및 과자류 소매업   57768   862101985
790  이도1동      비알콜 음료점업   23955   247223080
799  이도1동        육류 소매업   22148   828189857
785  이도1동  그외 기타 종합 소매업   20845  6413003352
808  이도1동           호텔업   19697  3541325540
     읍면동명                      업종명     이용자수         이용금액
838  이도2동                  한식 음식점업  1723522  63972999833
836  이도2동                  체인화 편의점  1611941  14026955798
823  이도2동                     슈퍼마켓  1288885  53356826347
819  이도2동                 비알콜 음료점업   347756   3647080260
837  이도2동  피자, 햄버거, 샌드위치 및 유사 음식점업   341924   4388179999
820  이도2동              빵 및 과자류 소매업   280160   3753570292
835  이도2동              차량용 주유소 운영업   266238  12653904803
821  이도2동                 서양식 음식점업   233882   5101348888
830  이도2동                  일식 음식점업   113890   5052605083
811  이도2동              과실 및 채소 소매업    97954   6773631732
    읍면동명                 업종명    이용자수        이용금액
863  이호동             체인화 편의점  172495  1529301219
862  이호동         차량용 주유소 운영업   67448  3239071499
864  이호동             한식 음식점업   55582  2829972060
851  이호동                슈퍼마켓   32794   552028454
858  이호동             자동차 임대업   27879  2132851348
849  이호동            서양식 음식점업   12616   183870661
847  이호동            비알콜 음료점업   11373   121727605
848  이호동         빵 및 과자류 소매업    9807    98105050
860  이호동             중식 음식점업    8517   209475500
852  이호동  스포츠 및 레크레이션 용품 임대업    4981   172559905
     읍면동명                      업종명    이용자수         이용금액
879  일도1동       스포츠 및 레크레이션 용품 임대업  223603  27101934705
890  일도1동                  한식 음식점업  221901   5873728851
888  일도1동                  체인화 편의점  175765   1689115830
877  일도1동                  수산물 소매업  165819   9727214182
867  일도1동              과실 및 채소 소매업   66973   3300497449
874  일도1동                 비알콜 음료점업   52047    513714810
892  일도1동            화장품 및 방향제 소매업   46290   1175933408
889  일도1동  피자, 햄버거, 샌드위치 및 유사 음식점업   37991    362736763
875  일도1동              빵 및 과자류 소매업   35785    735029877
876  일도1동                 서양식 음식점업   26783    509472376
     읍면동명                      업종명    이용자수         이용금액
918  일도2동                  체인화 편의점  641140   5421931490
920  일도2동                  한식 음식점업  615583  22748119492
897  일도2동             그외 기타 종합 소매업  537954  36798591278
907  일도2동                     슈퍼마켓  508283   9693244347
904  일도2동              빵 및 과자류 소매업  175451   2399205447
919  일도2동  피자, 햄버거, 샌드위치 및 유사 음식점업  173642   1821502554
917  일도2동              차량용 주유소 운영업  117526   5134201810
898  일도2동             기타 대형 종합 소매업   71310   2319110230
903  일도2동                 비알콜 음료점업   41669    515231150
905  일도2동                 서양식 음식점업   35269    708828521
    읍면동명                      업종명    이용자수         이용금액
948  정방동                  체인화 편의점  817730   8212710988
950  정방동                  한식 음식점업  694175  30214452395
937  정방동                     슈퍼마켓  246798   5192868731
949  정방동  피자, 햄버거, 샌드위치 및 유사 음식점업  169243   2016715094
934  정방동              빵 및 과자류 소매업  151254   2303639351
944  정방동                  일식 음식점업  113103   9360515272
935  정방동                 서양식 음식점업  104880   2683731167
933  정방동                 비알콜 음료점업   95624   1102646313
924  정방동              과실 및 채소 소매업   91627   4537019047
936  정방동                  수산물 소매업   78030   4737800474
    읍면동명            업종명    이용자수         이용금액
981  조천읍        한식 음식점업  607940  23335650134
979  조천읍        체인화 편의점  522911   5025231205
967  조천읍           슈퍼마켓  225821   5429248438
975  조천읍    전시 및 행사 대행업  193645   5094487326
978  조천읍    차량용 주유소 운영업  185749  10143927993
958  조천읍   그외 기타 종합 소매업  109553   4175998990
962  조천읍  기타음식료품위주종합소매업  104695   2959770840
964  조천읍    빵 및 과자류 소매업   96526   1409421387
965  조천읍       서양식 음식점업   87832   1646108842
984  조천읍       휴양콘도 운영업   56141   6664759133
     읍면동명                      업종명    이용자수         이용금액
1012  중문동                  체인화 편의점  410311   3932463124
1014  중문동                  한식 음식점업  347961  16784999952
992   중문동            기타음식료품위주종합소매업  191288   7749424650
999   중문동                     슈퍼마켓  143070   3954770305
994   중문동                      면세점   99316  14203022654
997   중문동                 서양식 음식점업   86461   2176128328
996   중문동              빵 및 과자류 소매업   63429    940834046
1013  중문동  피자, 햄버거, 샌드위치 및 유사 음식점업   45882    591022546
1011  중문동              차량용 주유소 운영업   40022   1996889112
1001  중문동                      여관업   32257   3619450027
     읍면동명                      업종명    이용자수         이용금액
1042  중앙동                  체인화 편의점  817730   8212710988
1044  중앙동                  한식 음식점업  694175  30214452395
1031  중앙동                     슈퍼마켓  246798   5192868731
1043  중앙동  피자, 햄버거, 샌드위치 및 유사 음식점업  169243   2016715094
1028  중앙동              빵 및 과자류 소매업  151254   2303639351
1038  중앙동                  일식 음식점업  113103   9360515272

In [255]:
# 유동인구 연월일 컬럼 확인
jeju_pop_df['연월일'].unique()

array([20170101, 20170102, 20170103, 20170104, 20170105, 20170106,
       20170107, 20170108, 20170109, 20170110, 20170111, 20170112,
       20170113, 20170114, 20170115, 20170116, 20170117, 20170118,
       20170119, 20170120, 20170121, 20170122, 20170123, 20170124,
       20170125, 20170126, 20170127, 20170128, 20170129, 20170130,
       20170131, 20170201, 20170202, 20170203, 20170204, 20170205,
       20170206, 20170207, 20170208, 20170209, 20170210, 20170211,
       20170212, 20170213, 20170214, 20170215, 20170216, 20170217,
       20170218, 20170219, 20170220, 20170221, 20170222, 20170223,
       20170224, 20170225, 20170226, 20170227, 20170228, 20170301,
       20170302, 20170303, 20170304, 20170305, 20170306, 20170307,
       20170308, 20170309, 20170310, 20170311, 20170312, 20170313,
       20170314, 20170315, 20170316, 20170317, 20170318, 20170319,
       20170320, 20170321, 20170322, 20170323, 20170324, 20170325,
       20170326, 20170327, 20170328, 20170329, 20170330, 20170331,
       20170401, 20170402, 20170403, 20170404, 20170405, 20170406,
       20170407, 20170408, 20170409, 20170410, 20170411, 20170412,
       20170413, 20170414, 20170415, 20170416, 20170417, 20170418,
       20170419, 20170420, 20170421, 20170422, 20170423, 20170424,
       20170425, 20170426, 20170427, 20170428, 20170429, 20170430,
       20170501, 20170502, 20170503, 20170504, 20170505, 20170506,
       20170507, 20170508, 20170509, 20170510, 20170511, 20170512,
       20170513, 20170514, 20170515, 20170516, 20170517, 20170518,
       20170519, 20170520, 20170521, 20170522, 20170523, 20170524,
       20170525, 20170526, 20170527, 20170528, 20170529, 20170530,
       20170531, 20170601, 20170602, 20170603, 20170604, 20170605,
       20170606, 20170607, 20170608, 20170609, 20170610, 20170611,
       20170612, 20170613, 20170614, 20170615, 20170616, 20170617,
       20170618, 20170619, 20170620, 20170621, 20170622, 20170623,
       20170624, 20170625, 20170626, 20170627, 20170628, 20170629,
       20170630, 20170701, 20170702, 20170703, 20170704, 20170705,
       20170706, 20170707, 20170708, 20170709, 20170710, 20170711,
       20170712, 20170713, 20170714, 20170715, 20170716, 20170717,
       20170718, 20170719, 20170720, 20170721, 20170722, 20170723,
       20170724, 20170725, 20170726, 20170727, 20170728, 20170729,
       20170730, 20170731, 20170801, 20170802, 20170803, 20170804,
       20170805, 20170806, 20170807, 20170808, 20170809, 20170810,
       20170811, 20170812, 20170813, 20170814, 20170815, 20170816,
       20170817, 20170818, 20170819, 20170820, 20170821, 20170822,
       20170823, 20170824, 20170825, 20170826, 20170827, 20170828,
       20170829, 20170830, 20170831, 20170901, 20170902, 20170903,
       20170904, 20170905, 20170906, 20170907, 20170908, 20170909,
       20170910, 20170911, 20170912, 20170913, 20170914, 20170915,
       20170916, 20170917, 20170918, 20170919, 20170920, 20170921,
       20170922, 20170923, 20170924, 20170925, 20170926, 20170927,
       20170928, 20170929, 20170930, 20171001, 20171002, 20171003,
       20171004, 20171005, 20171006, 20171007, 20171008, 20171009,
       20171010, 20171011, 20171012, 20171013, 20171014, 20171015,
       20171016, 20171017, 20171018, 20171019, 20171020, 20171021,
       20171022, 20171023, 20171024, 20171025, 20171026, 20171027,
       20171028, 20171029, 20171030, 20171031, 20171101, 20171102,
       20171103, 20171104, 20171105, 20171106, 20171107, 20171108,
       20171109, 20171110, 20171111, 20171112, 20171113, 20171114,
       20171115, 20171116, 20171117, 20171118, 20171119, 20171120,
       20171121, 20171122, 20171123, 20171124, 20171125, 20171126,
       20171127, 20171128, 20171129, 20171130, 20171201, 20171202,
       20171203, 20171204, 20171205, 20171206, 20171207, 20171208,
       20171209, 20171210, 20171211, 20171212, 20171213, 20171214,
       20171215, 20171216, 20171217, 20171218, 20171219, 20171220,
       20171221, 20171222, 20171223, 20171224, 20171225, 20171226,
       20171227, 20171228, 20171229, 20171230, 20171231, 20180101,
       20180102, 20180103, 20180104, 20180105, 20180106, 20180107,
       20180108, 20180109, 20180110, 20180111, 20180112, 20180113,
       20180114, 20180115, 20180116, 20180117, 20180118, 20180119,
       20180120, 20180121, 20180122, 20180123, 20180124, 20180125,
       20180126, 20180127, 20180128, 20180129, 20180130, 20180131,
       20180201, 20180202, 20180203, 20180204, 20180205, 20180206,
       20180207, 20180208, 20180209, 20180210, 20180211, 20180212,
       20180213, 20180214, 20180215, 20180216, 20180217, 20180218,
       20180219, 20180220, 20180221, 20180222, 20180223, 20180224,
       20180225, 20180226, 20180227, 20180228, 20180301, 20180302,
       20180303, 20180304, 20180305, 20180306, 20180307, 20180308,
       20180309, 20180310, 20180311, 20180312, 20180313, 20180314,
       20180315, 20180316, 20180317, 20180318, 20180319, 20180320,
       20180321, 20180322, 20180323, 20180324, 20180325, 20180326,
       20180327, 20180328, 20180329, 20180330, 20180331, 20180401,
       20180402, 20180403, 20180404, 20180405, 20180406, 20180407,
       20180408, 20180409, 20180410, 20180411, 20180412, 20180413,
       20180414, 20180415, 20180416, 20180417, 20180418, 20180419,
       20180420, 20180421, 20180422, 20180423, 20180424, 20180425,
       20180426, 20180427, 20180428, 20180429, 20180430, 20180501,
       20180502, 20180503, 20180504, 20180505, 20180506, 20180507,
       20180508, 20180509, 20180510, 20180511, 20180512, 20180513,
       20180514, 20180515, 20180516, 20180517, 20180518, 20180519,
       20180520, 20180521, 20180522, 20180523, 20180524, 20180525,
       20180526, 20180527, 20180528, 20180529, 20180530, 20180531,
       20180701, 20180702, 20180703, 20180704, 20180705, 20180706,
       20180707, 20180708, 20180709, 20180710, 20180711, 20180712,
       20180713, 20180714, 20180715, 20180716, 20180717, 20180718,
       20180719, 20180720, 20180721, 20180722, 20180723, 20180724,
       20180725, 20180726, 20180727, 20180728, 20180729, 20180730,
       20180731, 20180801, 20180802, 20180803, 20180804, 20180805,
       20180806, 20180807, 20180808, 20180809, 20180810, 20180811,
       20180812, 20180813, 20180814, 20180815, 20180816, 20180817,
       20180818, 20180819, 20180820, 20180821, 20180822, 20180823,
       20180824, 20180825, 20180826, 20180827, 20180828, 20180829,
       20180830, 20180831, 20181001, 20181002, 20181003, 20181004,
       20181005, 20181006, 20181007, 20181008, 20181009, 20181010,
       20181011, 20181012, 20181013, 20181014, 20181015, 20181016,
       20181017, 20181018, 20181019, 20181020, 20181021, 20181022,
       20181023, 20181024, 20181025, 20181026, 20181027, 20181028,
       20181029, 20181030, 20181031, 20181101, 20181102, 20181103,
       20181104, 20181105, 20181106, 20181107, 20181108, 20181109,
       20181110, 20181111, 20181112, 20181113, 20181114, 20181115,
       20181116, 20181117, 20181118, 20181119, 20181120, 20181121,
       20181122, 20181123, 20181124, 20181125, 20181126, 20181127,
       20181128, 20181129, 20181130, 20181201, 20180901, 20180902,
       20180903, 20180904, 20180905, 20180906, 20180907, 20180908,
       20180909, 20180910, 20180911, 20180912, 20180913, 20180914,
       20180915, 20180916, 20180917, 20180918, 20180919, 20180920,
       20180921, 20180922, 20180923, 20180924, 20180925, 20180926,
       20180927, 20180928, 20180929, 20180930, 20181202, 20181203,
       20181204, 20181205, 20181206, 20181207, 20181208, 20181209,
       20181210, 20181211, 20181212, 20181213, 20181214, 20181215,
       20181216, 20181217, 20181218, 20181219, 20181220, 20181221,
       20181222, 20181223, 20181224, 20181225, 20181226, 20181227,
       20181228, 20181229, 20181230, 20181231], dtype=int64)

In [256]:
# 유동인구 데이터 전처리
jeju_pop_df['연월일'] = jeju_pop_df['연월일'].astype('string')
jeju_pop_df['연월'] = jeju_pop_df['연월일'].str[:4] + '-' + jeju_pop_df['연월일'].str[4:6]
jeju_pop_df['성별'] = jeju_pop_df['성별'] + '성'
jeju_pop_df.head()

        연월일 시군구명 읍면동명  성별  연령대   방문인구       연월
0  20170101  제주시  한림읍  남성  40대  19424  2017-01
1  20170101  제주시  애월읍  여성  20대  27747  2017-01
2  20170101  제주시  구좌읍  남성  70대   3459  2017-01
3  20170101  제주시  조천읍  남성  40대  36695  2017-01
4  20170101  제주시  한경면  남성  70대   1174  2017-01

In [259]:
# 카드 매출 데이터 컬럼 확인
jeju_reg_df.head()

        연월  시군구명 읍면동명            업종명  성별  이용자수      이용금액
0  2017-01  서귀포시  남원읍     건강보조식품 소매업  남성    11    137500
1  2017-01  서귀포시  천지동     건강보조식품 소매업  여성    61  12334400
2  2017-01  서귀포시  대정읍  기타음식료품위주종합소매업  남성   555  17301300
3  2017-01  서귀포시  대정읍         기타 주점업  남성   324  71843080
4  2017-01  서귀포시  대정읍    기타 외국식 음식점업  남성    40    971000

In [257]:
# 카드 매출 데이터와 맞게 그룹화
groupby_pop = jeju_pop_df.groupby(['연월', '시군구명', '읍면동명', '성별']).sum(numeric_only=True).reset_index()
groupby_pop.head()

        연월  시군구명 읍면동명  성별     방문인구
0  2017-01  서귀포시  남원읍  남성  2844830
1  2017-01  서귀포시  남원읍  여성  2430535
2  2017-01  서귀포시  대륜동  남성  2643763
3  2017-01  서귀포시  대륜동  여성  2293711
4  2017-01  서귀포시  대정읍  남성  2346595

In [258]:
# 카드 매출액 데이터와 유동인구 데이터 합치기
jeju_df = pd.merge(jeju_reg_df, groupby_pop, how='left', on=['연월', '시군구명', '읍면동명', '성별'])
jeju_df.head()

        연월  시군구명 읍면동명            업종명  성별  이용자수      이용금액        방문인구
0  2017-01  서귀포시  남원읍     건강보조식품 소매업  남성    11    137500 2844830.000
1  2017-01  서귀포시  천지동     건강보조식품 소매업  여성    61  12334400  685754.000
2  2017-01  서귀포시  대정읍  기타음식료품위주종합소매업  남성   555  17301300 2346595.000
3  2017-01  서귀포시  대정읍         기타 주점업  남성   324  71843080 2346595.000
4  2017-01  서귀포시  대정읍    기타 외국식 음식점업  남성    40    971000 2346595.000