한국에서 잘나가는 동양예술전문가 솔희는 최근 “박물관이 살아 있다” 프로젝트를 시작했습니다.

“박물관이 살아 있다” 프로젝트는 점점 떨어져가는 문화예술공간의 방문율을 높이기 위해 시작되었습니다.
김솔희씨는 먼저 예술의 흥행을 위해선 젊은이들의 참여가 시급하다고 판단하여, 대학교 박물관을 먼저 개선하기로 하였습니다.

대학 박물관을 개선하기 위해 다음과 같이 박물관을 분류하기로 하였습니다.

박물관은 대학/일반 박물관으로 나뉜다.
시설명에 '대학'이 포함되어 있으면 '대학', 그렇지 않으면 '일반'으로 나누어 '분류' column에 입력한다.
'분류' column을 만들어서 솔희를 도와주세요!

In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('../data/museum_1.csv')
df

             시설명  어른관람료      운영기관전화번호
0     필암서원 유물전시관    500  061-390-7224
1        원주역사박물관      0  033-737-4371
2        뮤지엄산미술관  15000  033-730-9000
3      오랜미래신화미술관      0  033-746-5256
4    연세대학교 원주박물관      0  033-760-2731
..           ...    ...           ...
895        함양박물관      0  055-960-5532
896         박물관수   5000  053-744-5500
897    대구은행금융박물관      0  053-740-2061
898      국립대구박물관      0  053-768-6051
899    증평민속체험박물관      0  043-835-4161

[900 rows x 3 columns]

In [52]:
# 포함 유무 컬럼 추가 
df['분류'] = df['시설명'].str.contains('대학')

In [57]:
df.loc[df['분류']==True, '분류'] = '대학'
df.loc[df['분류']==False, '분류'] = '일반'

In [56]:
df

             시설명  어른관람료      운영기관전화번호  분류
0     필암서원 유물전시관    500  061-390-7224  일반
1        원주역사박물관      0  033-737-4371  일반
2        뮤지엄산미술관  15000  033-730-9000  일반
3      오랜미래신화미술관      0  033-746-5256  일반
4    연세대학교 원주박물관      0  033-760-2731  대학
..           ...    ...           ...  ..
895        함양박물관      0  055-960-5532  일반
896         박물관수   5000  053-744-5500  일반
897    대구은행금융박물관      0  053-740-2061  일반
898      국립대구박물관      0  053-768-6051  일반
899    증평민속체험박물관      0  043-835-4161  일반

[900 rows x 4 columns]