솔희는 어느 지역에 박물관이 많은지 분석해보려고 합니다.
하지만 주어진 데이터에는 주소가 없네요.
그러던 도중, 전화번호 앞자리가 지역을 나타낸다는 것을 깨달았습니다.
솔희가 박물관의 위치를 파악할 수 있게 '운영기관전화번호' column의 맨 앞 3자리를 추출하고, '지역번호' column에 넣어주세요.

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../data/museum_2.csv')
df

             시설명  어른관람료      운영기관전화번호  분류
0     필암서원 유물전시관    500  061-390-7224  일반
1        원주역사박물관      0  033-737-4371  일반
2        뮤지엄산미술관  15000  033-730-9000  일반
3      오랜미래신화미술관      0  033-746-5256  일반
4    연세대학교 원주박물관      0  033-760-2731  대학
..           ...    ...           ...  ..
895        함양박물관      0  055-960-5532  일반
896         박물관수   5000  053-744-5500  일반
897    대구은행금융박물관      0  053-740-2061  일반
898      국립대구박물관      0  053-768-6051  일반
899    증평민속체험박물관      0  043-835-4161  일반

[900 rows x 4 columns]

In [13]:
df['지역번호'] = df['운영기관전화번호'].str.split('-', expand=True)[0]

In [14]:
df

             시설명  어른관람료      운영기관전화번호  분류 지역번호
0     필암서원 유물전시관    500  061-390-7224  일반  061
1        원주역사박물관      0  033-737-4371  일반  033
2        뮤지엄산미술관  15000  033-730-9000  일반  033
3      오랜미래신화미술관      0  033-746-5256  일반  033
4    연세대학교 원주박물관      0  033-760-2731  대학  033
..           ...    ...           ...  ..  ...
895        함양박물관      0  055-960-5532  일반  055
896         박물관수   5000  053-744-5500  일반  053
897    대구은행금융박물관      0  053-740-2061  일반  053
898      국립대구박물관      0  053-768-6051  일반  053
899    증평민속체험박물관      0  043-835-4161  일반  043

[900 rows x 5 columns]