파이썬 사전과 .map()을 사용해서 지역명을 알아낸 솔희는, 조금 더 편한 방법을 고민하고 있습니다.
고민하던 중, '지역번호와 지역명에 대한 데이터는 누군가 이미 만들어두지 않았을까'라는 생각을 하게 되는데요.
인터넷에서 지역번호와 지역명이 있는 데이터 region_number.csv를 구했습니다!
이 데이터를 먼저 살펴보고, .merge() 메소드를 활용해서 museum_3.csv에 '지역명' column을 추가해 보세요.
단, museum_3.csv의 박물관 순서가 유지되어야 합니다.

In [4]:
import pandas as pd

In [5]:
museum = pd.read_csv("../data/museum_3.csv", dtype={'지역번호': str})
number = pd.read_csv("../data/region_number.csv", dtype={'지역번호': str})

In [15]:
pd.merge(museum, number, on='지역번호', how='left')

             시설명  어른관람료      운영기관전화번호  분류 지역번호    지역명
0     필암서원 유물전시관    500  061-390-7224  일반  061   전라남도
1        원주역사박물관      0  033-737-4371  일반  033    강원도
2        뮤지엄산미술관  15000  033-730-9000  일반  033    강원도
3      오랜미래신화미술관      0  033-746-5256  일반  033    강원도
4    연세대학교 원주박물관      0  033-760-2731  대학  033    강원도
..           ...    ...           ...  ..  ...    ...
895        함양박물관      0  055-960-5532  일반  055   경상남도
896         박물관수   5000  053-744-5500  일반  053  대구광역시
897    대구은행금융박물관      0  053-740-2061  일반  053  대구광역시
898      국립대구박물관      0  053-768-6051  일반  053  대구광역시
899    증평민속체험박물관      0  043-835-4161  일반  043   충청북도

[900 rows x 6 columns]