## 데이터 합치기

In [2]:
import pandas as pd

In [3]:
price_df = pd.read_csv('data/vegetable_price.csv')
quantify_df = pd.read_csv('data/vegetable_quantity.csv')

In [4]:
### Inner Join : 두 데이터프레임에서 겹치는 부분만 합친 후 데이터프레임 출력
### Left Outer Join : 왼쪽 데이터프레임에 기준으로 합치고 없는 값은 NaN으로 데이터프레임 출력
### Right Outer Join : 오른쪽 데이터프레임에 기준으로 합치고 없는 값은 NaN으로 데이터프레임 출력
### Full Outer Join : 양쪽에 있는 모든 것을 합침

In [5]:
pd.merge(price_df, quantify_df, on='Product')

   Product  Price  Quantity
0   Potato   3000        25
1    Onion   1600        31
2  Avocado   5000        57

In [6]:
pd.merge(price_df, quantify_df, on='Product', how='left')

   Product  Price  Quantity
0   Potato   3000      25.0
1    Onion   1600      31.0
2  Avocado   5000      57.0
3   Garlic   1200       NaN
4   Tomato   3500       NaN
5  Lettuce   2000       NaN
6   Carrot   2500       NaN

In [7]:
pd.merge(price_df, quantify_df, on='Product', how='right')

    Product   Price  Quantity
0    Potato  3000.0        25
1     Onion  1600.0        31
2   Avocado  5000.0        57
3    Pepper     NaN        46
4  Broccoli     NaN        25
5  Cucumber     NaN         9

In [8]:
pd.merge(price_df, quantify_df, on='Product', how='outer')

    Product   Price  Quantity
0   Avocado  5000.0      57.0
1  Broccoli     NaN      25.0
2    Carrot  2500.0       NaN
3  Cucumber     NaN       9.0
4    Garlic  1200.0       NaN
5   Lettuce  2000.0       NaN
6     Onion  1600.0      31.0
7    Pepper     NaN      46.0
8    Potato  3000.0      25.0
9    Tomato  3500.0       NaN